*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background: grey;

}

.links {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: black;
  font-size: 2em;
  list-style-type: none;
  margin: 10px 40px 0 20px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}



.logo a>.img__1 {
  width: 50px;
}

.logo a>.img__2 {
  width: 175px;
}

.icone {
  display: none !important;
  font-size: 3em;
}

@media (max-width: 980px) {

  .display {
    display: none;

  }

  .icone {
    display: block !important;
    position: relative;
  }

  .links {
    position: absolute;
    top: 68PX;
    right: 17px;
    flex-direction: column;
    background: #000;
    width: 300Px;
    padding: 15px;
    line-height: 2;
  }

  .links a {
    color: white;
    text-align: center;
  }
}